<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Shop</title>
		<link
			rel="stylesheet"
			href="dashboard.css"
		/>
	</head>
	<body>
		<nav class="navBar">
			<button id="back">Back</button>
			<input
				type="text"
				id="itemSearch"
				placeholder="Search Item"
			/>

			<button id="searchBtn">Search</button><br /><br />
			<button id="cartButton">Show cart</button>
		</nav>
		<div class="page_layout">
			<div id="container">
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">&#8369;1000.00</span>
					<span class="quantity">In stock 30</span>
					<button class="addCart">Add to cart</button>
				</div>
			</div>
			<div id="cartContainer"></div>
		</div>
		<footer>
			<p>&copy; 2024 CITAW. All rights reserved.</p>
		</footer>
		<script src="dashboard.js"></script>
	</body>
</html>
