* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-font: Arial;
	--primary-color: rgba(211, 254, 196, 0.344);
	--secondary-color: rgba(85, 222, 10, 0.392);
	--tertiary-color: #ffffffab;
	--accent-color: rgb(160, 249, 148);
	--Bg-product: rgba(128, 191, 105, 0.302);
	--shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
	--input-color: #e5e5e5;
}

body {
	position: relative;
	font: var(--primary-font);
	background: var(--primary-color);
	height: 50dvh;
}

.page_layout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr 10px;
	grid-template-rows: 75dvh;
	padding-inline: 2rem;
	margin-inline: auto;
	overflow: scroll;
}

/* PRODUCT CONTAINER  */
#container {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 10px;
}
/* product items */
.productCard {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	height: 650px;
	gap: 5px;
	height: 500px;
	width: 300px;
	border-radius: 20px;
	background: var(--tertiary-color);
	overflow: hidden;
	/* TEXT OF DIV */
	padding: 10px;
	font-size: 2rem;
	font-weight: 500;
}

/* IMAGE PROUDUCT */
.productCard > img {
	height: 50%;
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 10px 10px 5px 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.productCard > span {
	text-align: left;
}
/* NAME OF PRODUCT */
.productCard > span:nth-of-type(1) {
	font-size: 1.3rem;
	font-weight: 500;
	padding: 5px 10px 5px 5px;
}
hr {
	all: unset;
	width: 100%;
	height: 1px;
	background-color: #8080804c;
}

/* PRICE OF PRODUCT */
.productCard > span:nth-of-type(2) {
	text-align: left;
	width: 100%;
	font-size: 2rem;
	font-weight: 600;
}
.productCard > span:nth-of-type(2)::before {
	content: "₱";
	font-size: 2rem;
	padding-right: 5px;
}

/* STOCK OF PRODUCT */
.productCard > span:nth-of-type(3) {
	font-size: 2rem;
	font-weight: 600;
}
.productCard > span:nth-of-type(3)::before {
	content: "In stock";
	font-size: 2rem;
}
.addCart {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	border: none;
	text-decoration: none;
	border-radius: 5px 5px 20px 20px;
	background: var(--accent-color);
	color: var(--text-color);
	box-shadow: var(--shadow);
}

#cartContainer {
	/* POSTION OF CONTAINER */
	position: absolute;
	top: 70px;
	right: 20px;
	/* POSTION OF CONTAINER */
	width: 50%;
	height: 100%;
	padding: 10px;
	z-index: 10;
	box-shadow: var(--shadow);
	border-radius: 0 0 20px 20px;
	background: rgba(178, 200, 175, 0.806);
	overflow: auto;
}

.productCart {
	position: relative;
	display: grid;
	grid-template-columns: 200px 500px;
	grid-template-rows: repeat(3, 20px);
	row-gap: 20px;
	column-gap: 20px;
	height: 200px;
	width: 100%;
	margin: 10px 0 10px 0;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: var(--shadow);
	background-color: var(--tertiary-color);
}

.productCart > img {
	height: 200px;
	width: 100%;
	grid-column: 1;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}
.productCart > span {
	padding: 10px;
}
/* NAME OF PRODUCT IN CART */
.productCart > span:nth-of-type(1) {
	grid-column: 2 / 4;
	grid-row: 1;
	font-weight: 700;
	font-size: 1.5rem;
}
/* PRICE OF PRODUCT IN CART */
.productCart > span:nth-of-type(2) {
	grid-column: 2;
	grid-row: 2;
	font-weight: 700;
	font-size: 2rem;
}
.productCart > span:nth-of-type(2)::before {
	content: "₱";
	font-size: 2rem;
	padding-right: 5px;
}

.productCart > span:nth-of-type(3) {
	grid-column: 2;
	grid-row: 3;
	font-weight: 700;
	font-size: 1.5rem;
}
.productCart > span:nth-of-type(3)::before {
	content: "Qty";
	font-size: 1.5rem;
}

.productCart button:nth-of-type(1) {
	position: absolute;
	bottom: 10px;
	left: 24%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 20%;
	border: none;
	text-decoration: none;
	border-radius: 10px;
	background: var(--accent-color);
	color: var(--text-color);
	box-shadow: var(--shadow);
}
.productCart button:nth-of-type(2) {
	position: absolute;
	bottom: 10px;
	left: 48%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 20%;
	border: none;
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid black;
	color: var(--text-color);
	box-shadow: var(--shadow);
}

#text {
	display: flex;
	justify-content: center;
	align-items: center;
}

#cartLabel {
	display: flex;
	justify-content: center;
	align-items: center;
}

#searchDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	column-gap: 20px;
	flex-wrap: wrap;
}
.navBar {
	grid-row: 1;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	gap: 10px;
	padding: 10px;
	width: 100dvw;
	background: var(--secondary-color);
	box-shadow: var(--shadow);
	z-index: 2;
}

.navBar > button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50%;
	border: none;
	text-decoration: none;
	border-radius: 10px;
	background: var(--tertiary-color);
	color: var(--text-color);
	box-shadow: var(--shadow);
}
.navBar > input {
	padding-left: 10px;
	height: 50px;
	width: 50%;
	border: none;
	outline: none;
	text-decoration: none;
	border-radius: 10px;
	background: var(--tertiary-color);
	color: var(--text-color);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100dvw;
	background: var(--secondary-color);
	box-shadow: var(--shadow);
}

/* footer > p = pTag (for the footer text) */
footer > p {
	font-size: 2.5vw;
	color: white;
}


