<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Shop</title>
		<link
			rel="stylesheet"
			href="dashboard.css"
		/>
	</head>
	<body>
		<nav class="navBar">
			<button id="userButton">
				<img src="icons/user.png" />
			</button>

			<button id="back"><img src="icons/back.png" /></button>
			<input
				type="text"
				id="itemSearch"
				placeholder="Search Item"
			/>
			<button id="searchBtn"><img src="icons/search.png" /></button>
			<button id="cartButton">
				<img src="icons/cartPic.png" /><span id="Counter">1</span>
			</button>
		</nav>

		<!-- 
		
		USER BUTTON 
		
		-->
		<div id="userCard">
			<img src="icons/user.png" />
			<span id="userName">TourPas Lodi</span>
			<hr />
			<span id="userEmail">Nagtrabahosaindia@gmail.com</span>
			<span id="userAge">30</span>
			<span id="userId">19928384849100</span>
			<hr />
			<button id="logoutButton">Logout</button>
		</div>
		<!-- 

MAIN PAGE LAYOUT 

-->
		<div class="page_layout">
			<div id="container">
				<div class="productCard">
					<img
						class="image"
						src="images/malupits.jpeg"
						alt="fruit image"
					/>
					<span class="item"
						>PRODUCT NAME laboris esse sit Lorem anim veniam occaecat proident labore
						id</span
					>
					<hr />
					<span class="price">1000.00</span>
					<span class="quantity"> 30</span>
					<button class="addCart">Add to cart</button>
				</div>
			</div>
		</div>
		<!-- PRODUCT  CART -->
		<div id="cartContainer">
			<!-- PRODUCT INSIDE CART -->
			<div class="productCart">
				<img
					class="image"
					src="images/malupits.jpeg"
					alt="product image"
				/>
				<span class="item">non sit magna aute consectetur</span>
				<span class="price">100.00</span>
				<span class="quantity">10</span>
				<button class="order">Buy</button>
				<button class="remove">Remove to cart</button>
			</div>
			<div class="productCart">
				<img
					class="image"
					src="images/malupits.jpeg"
					alt="product image"
				/>
				<span class="item">non sit magna aute consectetur</span>
				<span class="price">100.00</span>
				<span class="quantity">10</span>
				<button class="order">Buy</button>
				<button class="remove">Remove to cart</button>
			</div>
			<div class="productCart">
				<img
					class="image"
					src="images/malupits.jpeg"
					alt="product image"
				/>
				<span class="item">non sit magna aute consectetur</span>
				<span class="price">100.00</span>
				<span class="quantity">10</span>
				<button class="order">Buy</button>
				<button class="remove">Remove to cart</button>
			</div>
			<div class="productCart">
				<img
					class="image"
					src="images/malupits.jpeg"
					alt="product image"
				/>
				<span class="item">non sit magna aute consectetur</span>
				<span class="price">100.00</span>
				<span class="quantity">10</span>
				<button class="order">Buy</button>
				<button class="remove">Remove to cart</button>
			</div>
			<div class="productCart">
				<img
					class="image"
					src="images/malupits.jpeg"
					alt="product image"
				/>
				<span class="item">non sit magna aute consectetur</span>
				<span class="price">100.00</span>
				<span class="quantity">10</span>
				<button class="order">Buy</button>
				<button class="remove">Remove to cart</button>
			</div>
			<div class="productCart">
				<img
					class="image"
					src="images/malupits.jpeg"
					alt="product image"
				/>
				<span class="item">non sit magna aute consectetur</span>
				<span class="price">100.00</span>
				<span class="quantity">10</span>
				<button class="order">Buy</button>
				<button class="remove">Remove to cart</button>
			</div>
			<div class="productCart">
				<img
					class="image"
					src="images/malupits.jpeg"
					alt="product image"
				/>
				<span class="item">non sit magna aute consectetur</span>
				<span class="price">100.00</span>
				<span class="quantity">10</span>
				<button class="order">Buy</button>
				<button class="remove">Remove to cart</button>
			</div>
			<div class="productCart">
				<img
					class="image"
					src="images/malupits.jpeg"
					alt="product image"
				/>
				<span class="item">non sit magna aute consectetur</span>
				<span class="price">100.00</span>
				<span class="quantity">10</span>
				<button class="order">Buy</button>
				<button class="remove">Remove to cart</button>
			</div>
		</div>
		<footer>
			<p>&copy; 2024 CITAW. All rights reserved.</p>
		</footer>
		<
		<script src="dashboard.js"></script>
	</body>
</html>
