<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>

    <h1 id="text">Mga produkto ng tanga</h1>
    <div id="searchDiv">
    
    <button id="back"> Back </button>
    <input type="text" id="itemSearch" placeholder="Search Item">
    <button id="searchBtn">Search</button><br><br>
    </div>

    

    <div id="container">


    </div>
    <!-- <button id="cartButton">Show cart</button> -->
    <h3 id="cartLabel">This is cart motherfucka</h3>
    <div id="cartContainer">
        

        
    </div>
    <script src="dashboard.js">
        
    </script>
</body>
</html>
