<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h3>Login</h3>
    <label for="email">Email:</label>
    <input type="email"  id="email" required placeholder="Email"><br><br>

    <label for="password">Password:</label>
    <input type="password"  id="password" required placeholder="Password"><br>
    <a href="register.html">No existing account?</a>
    <br><br>
    <button id="login">Log in</button>
    
    <script src="index.js"></script>
    
</body>
</html> -->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="login_register.css"
		/>
		<title>Welcome to Citaw</title>
	</head>
	<body>
		<header>
			<img src="images/logo.png" />
			<h1>CITAW</h1>
		</header>

		<section class="login_page_layout">
			<aside class="carouselContainer">
				<img src="images/logo.png" />
			</aside>
			<main class="loginContainer">
				<div class="loginForm">
					<h1>Login</h1>
					<input
                
						type="text"
                        id="email"
						placeholder="Enter your username"
                        required
					/>
					<input
                    
						type="password"
                        id="password"
						placeholder="Enter your password"
                        required
					/>
					<button class="loginButton" id="login">Login</button>

					<a href="google.com">Forgot password?</a>
					<a
						class="registerButton"
						href="register.html"
						>Create new Account</a
					>
                </div>
			</main>
		</section>
		<footer>
			<p>&copy; 2024 CITAW. All rights reserved.</p>
		</footer>
        <script src="index.js"></script>
	</body>
</html>